section.dashboard {
  section.dashboard-body {
    height: calc(100% - 62px);
    position: absolute;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    section.column {
      display: inline-block;
      max-width: 650px;
      margin: 0 20px;
      vertical-align: top;
      height: 100%;
      white-space: normal;
      &.single {
        width: 400px;
      }
      &.double {
        width: 800px;
      }
    }
  }
}
