$card-padding: 10px;
$card-margin: 10px;

.card {
  background: #fff;
  display: inline-block;
  margin: $card-margin;
  width: calc(50% - 20px - 20px);
  height: calc(50% - 20px - 20px);
  padding: $card-padding;
  &.all-todos {
    height: calc(100% - 20px - 20px);
    width: calc(100% - 20px - 20px);
  }
  &.create-group {
  }
  .card-body {
    margin: 10px 0;
    height: calc(100% - 64px);
    .todo-row {
      li {
        display: inline-block;
      }
    }
  }
  footer {
    text-align: right;
  }
}
