header.header {
  position: relative;
  z-index: 2;
  > section {
    width: 50%;
    display: inline-block;
    &.navigate-section {
      a {
        margin-left: 30px;
        span.url-title {
          margin-left: 5px;
          height: 16px;
          line-height: 10px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    &.user-select-section {
      text-align: right;
      position: relative;
      label.user-name {
        display: inline-block;
        vertical-align: middle;
        font-size: 10px;
      }
      .current-user-icon {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        border: 1px solid #444444;
        border-radius: 25px;
        position: relative;
        margin: 20px 30px;
        margin-left: 15px;
        .fa-user {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .user-select-menu {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(0%, 100%);
        margin-right: 25px;
        li {
          white-space: nowrap;
          padding: 5px 20px;
          background: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
