$pink-color: #de59ff;
$dark-grey: #444444;

ul,
li {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button.remove-default-styling {
  border: none;
  outline: none;
  background: none;
}

body {
  background: #eeeeee;
}

ul[class*='tag-number-'] {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 10px;
  line-height: 11px;
  height: 15px;
  font-size: 10px;
  &.tag-number-0 {
    background: #fbd9e1;
  }
  &.tag-number-1 {
    background: #d2ffec;
  }
  &.tag-number-2 {
    background: #e3f8ff;
  }
}

a {
  text-decoration: none;
  color: $dark-grey;
}
